{% extends 'authentication/base.html' %} {% load static %} {% block content %}
<style>
    .hello{
        margin-top: 100px;
    }
    
    h1{
      text-align: center;
    }
</style>
<h1 class="hello">Hello {{fname}}</h1>

<table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">order_id</th>
        <th scope="col">Coustmer Username</th>
        <th scope="col">Order Details</th>
        <th scope="col">Time</th>
        <th scope="col">Price</th>
        <th scope="col">Order completion Status</th>
        <th scope="col">Changle completion Status</th>

      </tr>
    </thead>
    <tbody>

       
        {% for order in orders %}
        <form method="POST" action="hoggle">

            {% csrf_token %}
        <tr>
            <th scope="row">{{order.order_id}}</th>
            <td>{{order.username}}</td>
            <td>{{order.order_details}}</td>
            <td>{{order.order_time}}</td>

            <td>{{order.Price}}</td>
            <td>{{order.Order_completed}}</td>
            <input type="hidden" name="item" value="{{order.order_id}}"  />
            <td><input type="submit" value="Toggle" > </td>
          </tr>
        </form>
        {% endfor %}

        
            
      <!-- <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr> -->
      <!-- <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr> -->
    </tbody>
  </table>
{% endblock content %}