{% extends "authentication/base.html" %} {% load static %} {% block content %}

<h3 style="color: red; text-align:center; margin-top:100px;">Hello {{fname}} {{lname}} Welcome to IITB Services</h3>

{% endblock %} {% block conten %}

<div class="container">
    <div class="row">
        <div class="col-lg-4 " style="padding: 5px;">
            <div class="card-service wow fadeInUp rounded border border-info" style="padding: 5px;">
                <div class="header">
                    <center><img src="{% static 'images/Gulu4.JPG' %}" alt="" class="rounded-circle" height="200px" width="200px"></center>
                </div>
                <div class="body">
                    <h5 class="text-secondary" style="text-align: center;">Gulmohar</h5>
                    <p class="text-center">Select this to place order through Gulmohar</p>
                    <center><a href="/gulmohar" class="btn btn-primary">Select</a></center>
                </div>
            </div>
        </div>
        <div class="col-lg-4 " style="padding: 5px;">
            <div class="card-service wow fadeInUp rounded border border-info" style="padding: 5px;">
                <div class="header">
                    <center><img src="{% static 'images/Haircut2.JPG' %}" alt="" class="rounded-circle" height="200px" width="200px"></center>
                </div>
                <div class="body">
                    <h5 class="text-secondary" style="text-align: center;">HairSalon</h5>
                    <p class="text-center">Select this to book an appointment!</p>
                    <center><a href="/hair" class="btn btn-primary">Select</a></center>
                </div>
            </div>
        </div>
        <div class="col-lg-4 " style="padding: 5px;">
            <div class="card-service wow fadeInUp rounded border border-info" style="padding: 5px; ">
                <div class="header">
                    <center><img src="{% static 'images/grocery/grocery.png' %}" alt="" class="rounded-circle" height="200px" width="200px"></center>
                </div>
                <div class="body">
                    <h5 class="text-secondary" style="text-align: center;">Grocery Store</h5>
                    <p class="text-center">Select this to shop from Grocery store</p>
                    <center><a href="/grocery" class="btn btn-primary">Select</a></center>
                </div>
            </div>
        </div>
        <div class="col-lg-4 " style="padding: 5px;">
            <div class="card-service wow fadeInUp rounded border border-info" style="padding: 5px;">
                <div class="header">
                    <center><img src="{% static 'images/4.png' %}" alt="" class="rounded-circle" height="200px" width="200px"></center>
                </div>
                <div class="body">
                    <h5 class="text-secondary" style="text-align: center;">Badminton</h5>
                    <p class="text-center">Select this to book an appointment</p>
                    <center><a href="https://gymkhana.iitb.ac.in/~sports/index.php?r=site/courtbooking" class="btn btn-primary">Select</a></center>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .container -->
{% endblock %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        
        
        <h1>Welcome to IITB services by ADV </h1>

        {% if user.is_authenticated %}
        <h1>Hello {{ fname }}</h1>
        <h4>You are successfully logged in</h4>
        <button type="submit"><a href="/signout"> Sign Out</a></button>
        
        {% else %}
        <button type="submit"><a href="/signin"> Sign In</a></button>
        <button type="submit"><a href="/signup"> Sign Up</a></button>
        {% endif %}
        
</body>
</html> -->