<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="copyright" content="ADV, https://www.cse.iitb.ac.in/~vivekraj/">

  <title>Genral Store</title>

  <link rel="stylesheet" href="../assets/css/maicons.css">

  <link rel="stylesheet" href="../assets/css/bootstrap.css">

  <link rel="stylesheet" href="../assets/css/theme.css">
</head>
<body>
  <!-- Back to top button -->
  <div class="back-to-top"></div>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky" data-offset="500">
      <div class="container">
        <a href="index.html" class="navbar-brand">Back to <span class="text-primary">Home</span></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <div class="container">
      <div class="page-banner home-banner">
        <div class="row align-items-center flex-wrap-reverse h-100">
          <div class="col-md-6 py-5 wow fadeInLeft">
            <h1 class="mb-4">Firts choose the hostel's Store!</h1>
            <p class="text-lg text-grey mb-5">Then add oderes to your cart</p>  
          </div>
          <div class="col-md-6 py-5 wow zoomIn">
            <div class="img-fluid text-center">
              <img src="../assets/img/1.png" alt="" />
            </div>
          </div>
        </div>
        <a href="#choose" class="btn-scroll" data-role="smoothscroll"><span class="mai-arrow-down"></span></a>
      </div>
    </div>
  </header>
  <div class="page-section"  id="choose">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card-service wow fadeInUp">
            <div class="header">
              <img src="../assets/img/h1.png" alt="">
            </div>
            <div class="body">
              <h5 class="text-secondary">H1</h5>
              <p>Select this to shop from H1 General store</p>
              <a href="h1.html" class="btn btn-primary">Select</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card-service wow fadeInUp">
            <div class="header">
              <img src="../assets/img/h2.png" alt="">
            </div>
            <div class="body">
              <h5 class="text-secondary">H2</h5>
              <p>Select this to shop from H3 General store</p>
              <a href="h1.html" class="btn btn-primary">Select</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card-service wow fadeInUp">
            <div class="header">
              <img src="../assets/img/h3.png" alt="">
            </div>
            <div class="body">
              <h5 class="text-secondary">H3</h5>
              <p>Select this to shop from H3 General store</p>
              <a href="h1.html" class="btn btn-primary">Select</a>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- .container -->
  </div> <!-- .page-section -->
  <footer class="page-footer bg-image" style="background-image: url(../assets/img/world_pattern.svg);">
    <div class="container">
      <p class="text-center" id="copyright">Copyright &copy; 2021. This page is developed by  <a href="https://www.cse.iitb.ac.in/~vivekraj/" target="_blank">ADV</a></p>
    </div>
  </footer>
</body>
</html>